<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:og="http://opengraphprotocol.org/schema/">

<head>
    <title>When Is - Release dates for games, movies, music and everything in between</title>
    <meta charset=utf-8 /> 
    

    <!-- vendor scripts -->
    <script src="/public/vendor/jquery-1.7.1.min.js"></script>
    <script src="/public/vendor/underscore.js"></script>
    <script src="/public/vendor/timo-0.0.2.js"></script>

    <!-- main script -->
    <script src="/public/index.js"></script>
    <script src="/public/model.js"></script>
    <script src="/public/actions.js"></script>
    <script src="/public/controller.js"></script>

    <link rel="stylesheet" href="/public/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= css %>" />
</head>

<body>

<div class="container mainview">
    <%= header %>

    <div class="content">
        <%= content %>
    </div>

    <%= footer %>
</div>


<script>
    $(function () {
        var initScript = function(src) {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = src;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        };
        var initTwitter = function(){
            initScript('http://platform.twitter.com/widgets.js');
        };

        var initPlusOne = function(){
            initScript('http://apis.google.com/js/plusone.js');
        };

        var initSocial = function(){
            initTwitter();
            initPlusOne();
        };

        initSocial();
    });
</script>

</div>


</body>


</html>
