<!DOCTYPE html>
<html>

<head>
    <title>When Is - Release dates for games, movies, music and everything in between</title>
    <meta charset=utf-8 /> 
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- vendor scripts -->
    <script src="/public_static/vendor/jquery-1.7.1.min.js"></script>
    <script src="/public_static/vendor/underscore.js"></script>
    <script src="/public<%= version_fingerprint %>/vendor/timo-0.0.2.js"></script>
    <script src="/public<%= version_fingerprint %>/vendor/bootstrap-datepicker.js"></script>

    <!-- main script -->
    <script src="<%= indexjs %>"></script>
    <script src="/public<%= version_fingerprint %>/model.js"></script>
    <script src="/public<%= version_fingerprint %>/actions.js"></script>
    <script src="/public<%= version_fingerprint %>/controller.js"></script>

    <link rel="stylesheet" href="/public_static/vendor/bootstrap.min.css" />

    <link rel="stylesheet" href="<%= css %>" />

    <%= google_analytics %>

</head>

<body>

<div class="container mainview">
    <%= header %>

    <div class="content">
        <%= content %>
    </div>

    <%= pagination %>

    <%= footer %>
</div>


<script>
    $(function () {
        var initScript = function(src) {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = src;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        };
        var initTwitter = function(){
            initScript('http://platform.twitter.com/widgets.js');
        };

        var initPlusOne = function(){
            initScript('http://apis.google.com/js/plusone.js');
        };

        var initSocial = function(){
            initTwitter();
            initPlusOne();
        };

        initSocial();
    });
</script>

</div>


</body>


</html>
